$d-list:320px,360px,600px,384px,375px,412px,768px，414px,1440px;
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style: none;
}
body{
    background: #eee;
}
html{
    font-size:100px;
}
body{
    font-size:15px;
}
@each $w in $d-list{
    @media screen and (min-width:$w){
        html{
            font-size:100px*$w/750px;
        }
    }
}
.header{
    width:100%;
    height:1.5rem;
    background:blue;
    
}
.box{
    width:90%;
    height:0.8rem;
    margin:0 auto;
    line-height: 1.5rem;
    position: relative;
}
.header input{
    width:100%;
    height:100%;
    border:0;
}
.add{
    width:0.6rem;
    height:0.6rem;
    border-radius:50%;
    background: red;
    position: absolute;
    right:5px;
    top:0.45rem;
}
ul li{
    width:85%;
    height:1.2rem;
    margin:.3rem auto;
    position: relative;
}
.wan{
    width:100%;
    height:100%;    
    background: #fff;
    line-height: 1.2rem;
    font-size:35px;
    padding-left:15px;
    
}
.sc{
    width:0.5rem;
    height:0.5rem;
    background: red;
    border-radius:50%;
    position: absolute;
    right:10px;
    top:.35rem;
}
.wan{
    color:#dfdfdf;
}
.footer{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:1.6rem;    
}
.footer div:nth-child(1){
    width:33.33333%;
    height:100%;
    float:left;
    font-size:30px;
    font-weight:bold;
}
.footer div:nth-child(2){
    width:33.33333%;
    height:100%;
    float:left;
    font-size:30px;
    font-weight:bold;
}
.footer div:nth-child(3){
    width:33.33333%;
    height:100%;
    float:left;
    font-size:30px;
    font-weight:bold;
}