@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: #eee;
}

html {
  font-size: 100px;
}

body {
  font-size: 15px;
  background-image: url(bj.jpg);
  background-size: 100%;
  font-family: "微软雅黑";
}

@media screen and (min-width: 320px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 56.25px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 93.75px;
  }
}

@media screen and (min-width: 384px) {
  html {
    font-size: 60px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 58.59375px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 64.375px;
  }
}

@media screen and (min-width: 768px，414px) {
  html {
    font-size: 120px，414px;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 225px;
  }
}

.header {
  width: 100%;
  height: 0.87rem;
  background: rgba(0,0,0,0.8);
  opacity: 0.9;
  color:#fff;
  line-height: .88rem;
  border-bottom:1px solid #272928;
  float: left;
}
.iconfont{
	font-family: "iconfont";
	
}
@font-face {
  font-family: 'iconfont';  /* project id："172780" */
  src: url('./iconfont.eot');
  src: url('./iconfont.eot') format('embedded-opentype'),
  url('./iconfont.woff') format('woff'),
  url('./iconfont.ttf') format('truetype'),
  url('./iconfont.svg#iconfont') format('svg');
}
.header span{
	font-size:30px;

}
.header span:nth-child(1){
	margin-left:0.3rem;
	float:left;
}
.header h2{
	float:left;
	margin-left:.28rem;
}
.header span:nth-child(3){
	margin-right:0.18rem;
	float:right;
}
.header span:nth-child(4){
	margin-right:0.37rem;
	float:right;
}
.hz{
	height:1.11rem;
	width:100%;
	background: rgba(0,0,0,0.2);
	float: left;
	position: relative;
}
.hz .xin{
	height:100%;
	width:13.438%;
	float:left;
	color:#fff;
	font-size:26px;
	line-height: 1.11rem;
	text-align: center;
}
/*#xh{
	color:red;
}*/
.hz .xh{
	color:red;
}
.hz .gm{
	height:100%;
	width:86.562%;
	float:left;
	border-bottom:1px solid #fff;
	
}
.gm div{
	float:left;
}
.gm h3{
	color:#fff;
	padding-top:.2rem;
	/*float:left;*/
}
.gm p{
	color:#fff;
	font-size:13px;
}
.gm span{
	color:#FFFFFF;
	font-size: 26px;
	float:right;
	margin-right:0.3rem;
	line-height: 1.11rem;
}
.box{
	background: rgba(0,0,0,0.5);
}
.bai{
	width:6px;
	height:100%;
	background: #fff;
	position: absolute;
	left:0;
	top:0;
	display: none;
}
.footer{
	width:100%;
	height:0.98rem;
	background: #020226;
	position: fixed;
	left:0;
	bottom:0;
}
.footer .img{
	width:0.98rem;
	height:0.98rem;
	float:left;
	margin-right:0.15rem;
	border:0;
}
.img img{
	width:100%;
	height:100%;
}
.dgm{
	/*width:1rem;*/
	/*height:100%;*/
	color:#fff;
	padding-top:0.15rem;
	float:left;			
}
.dgm p{
	font-size:13px;
}
.icon{
	width:auto;
	height:100%;
	float:right;
	color:#fff;
	font-size:30px;
	line-height: 0.98rem;
}
.icon span{
	margin-right:0.2rem;
}
